API_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=omr_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

JWT_SECRET_KEY=f5ad2557a5cf84bc07e1393a12f45865c0d802fc63361900f6a9d1e18eea4067