API_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=omr_db_v2
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

JWT_SECRET_KEY=change-me-to-a-random-hex-string

SMTP_EMAIL=your-gmail@gmail.com
SMTP_PASSWORD=your-app-password
